.lyrics-demo {
  color: gray;
}
.lyrics-demo > h1 {
  width: 100%;
  text-align: center;
  color: cornflowerblue;
}
.lyrics-demo > header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
